extends ../layouts/default

block content
	.container: .jumbotron
		h2 i use this blog to write about how much i hate myself
		br
		br
		br
		br
		br
		br
		p i added this whitespace to give this site an air of minimilism. fuck
		br
		br
		br
		br
		br
		img(src='images/swirly.gif')
		img(src='images/swirly.gif')
		br
		img(src='images/swirly.gif')
		img(src='images/swirly.gif')
		img(src='images/9c1a89cb993f4b95f781397e1edf7a2a.gif')
		img(src='images/giphy.gif')
		img(src='images/giphy.gif')
		img(src='images/giphy.gif')
		img(src='images/giphy.gif')
		br
		br
		br
		br
		hr
		p i may kill myself at some point in soon. no one is probably even going to read this. no one fucking cares about even interacting with me. fuck everythingadkjfa oh well idgaf yolo fuck you
