extends ../layouts/default

block content
	.container: .front-page
		#top
			.content-bar
				h2 Start a Business From Nothing. Learn Anything. 
				h2 
					a(href='/blog') Read Now.
			br
			br
			.content-bar
				h3 Subscribe Right Now: 
